
html,body{
    background-color: #000;
}
body {max-height: 100vh;}
body {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 1.8;
  background: linear-gradient(#100900 , #3e3a39 ,#100900 )no-repeat fixed;
  color: #cabdbd;
}

.background{
  background: linear-gradient(#100900 , #3e3a39 ,#100900 )no-repeat fixed;
}
.navbar-default {
  background: transparent;¨
  border: none;

}
.navbar {
  border: none;
}

.navbar-default .navbar-nav>li>a {
  font-family: mnbk;
  color: rgb(107, 105, 103);

}
.navbar img {
  position: absolute;
  height: 56px;
  width: 87px;
}



.component.glow {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  box-shadow:
  inset 0 0 50px #fff,      /* inner white */
  inset 20px 0 80px #f0f,   /* inner left magenta short */
  inset -20px 0 80px #0ff,  /* inner right cyan short */
  inset 20px 0 300px #f0f,  /* inner left magenta broad */
  inset -20px 0 300px #0ff, /* inner right cyan broad */
  0 0 50px #fff,            /* outer white */
  -10px 0 80px #f0f,        /* outer left magenta */
  10px 0 80px #0ff;         /* outer right cyan */

  @media (min-width: 768px) {
      width: 360px;
      height: 360px;
  }
}

.glowpic {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.badges {
  margin: none;

}
.badges img {
  width: 80px;
  height: 80px;
  margin-top: 15px;

}
.givemespace{
  padding-top: 6%;
}
.addMargin {
  margin-bottom: 10%;
  margin-top: 5%;
}
.preview img {
  width: 100%;
  height: 100%;
  box-shadow: -10px 10px 5px -3px #616161;


}
.logopic img {
  width: 100%;
  height: 100%

}


.vertical-align {
  display: flex;
  align-items: center;
}

h1,h2,h3 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.scroll-style {
  font-size: 2rem;
  text-shadow: 1px 1px #262d32;
}
.margin_me {
  margin-top: 10%;
}
.contact-container {
  padding-top: inherit;
}

/**********************************Hover Transition *************************/
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.preview:hover .image,
.preview.hover_effect,
.preview:focus .image{
  opacity: 0.5;
  filter: blur(3px);
}

.style1{
  opacity: 0.5;
  filter: blur(3px);
}

.preview:hover .middle,
.preview.hover_effect,
.preview:focus .middle {
  opacity: 1;
}

.style2 {
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 1;
}

.text a {
  background-color: #0ff ;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.formular {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
    margin-right: 1%;
    margin-top: 0.5%;

  }
  .container{
    width: 90%

  }

}
